<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Search</key>
    <dict>
      <key>NASA</key>
      <dict>
        <key>Identifier</key>
        <string>com.plexapp.plugins.nasa</string>
      </dict>
    </dict>
  <key>URL</key>
  	<dict>
    	<key>NASA</key>
    	<dict>
      	<key>URLPatterns</key>
      		<array>
        		<string>http://([^.]+.)?nasa.gov/.+</string>
            <!-- <string>http://([^.]+.)?vmixcore.com\/core\/423\/.+</string> -->
            <!-- <string>http://([^.]+.)?vmixcore.com\/vmixcore\/dl\/.+</string> -->
            <string>http://([^.]+.)?vmixcore.com\/vmixcore\/play\/.+</string>
      		</array>
      	<key>TestURLs</key>
      		<array>
        		<string>http://www.nasa.gov/multimedia/videogallery/index.html?media_id=145106131</string>
      		</array>
    	</dict>
  	</dict>
</dict>
</plist>